html, body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
li {
  list-style-type:none;
}

.navbar {
  height: 82px;
  margin-bottom: 0;
  border-bottom: solid 1px #ededed;
  box-sizing: border-box;
  background-color: #fff;
  .container {
    padding-left: 14px;

  }
  .navbar-collapse {
    float: right;
  }

  .navbar-collapse ul {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .navbar-toggle {
    border-color:transparent !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar-toggle:focus, .navbar-toggle:hover {
    background-color: transparent !important;
  }

}

.navbar-nav li > a {
  font-size: 16px;
  outline: none;
  text-decoration: none;
  padding: 20px 17px;
}

.navbar-nav li > a:hover:before {
  background-color: transparent;
  outline: none;
  text-decoration: none;
}

.navbar-nav li > a:hover:after, .navbar-nav li > a:focus:after, .navbar-nav li > a:active:after {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  margin: 0 auto;
  margin-top: 6px;
  background-color: #ea094b !important;
  outline: none;
  text-decoration: none;
}

.navbar-nav li :hover, .navbar-nav li :focus, .navbar-nav li :active {
  color: #ea094b !important;
  background-color: transparent !important;
}

.navbar-brand {
  height: 82px;
  padding: 11px 15px;
  img {
    height: 60px;
  }
}

.navbar-brand img {
  height: 60px;
}

//顶部 大屏幕 banner
.jumbotron{
  position: relative;
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  //background-size: contain;
  background-repeat: no-repeat;
  //background-position: center 0;
  background-position: center 0;
  background-color: red;
  //padding: 82px 0 0;
  //padding: 390px 0 0;
  margin: 0;
  padding-top: 309px;
  padding-bottom: 190px;
  .container{
    min-height: 190px;
  }
}
.jumbotron-txt h1{
  margin-bottom: 30px;
  border: 0;
  color: white;
  font-size: 48px;
  font-family:"Microsoft YaHei";
  line-height: 70px;
}
.jumbotron-txt h2{
  width: 20px;
  height: 20px;
  background-color: #ea094b;
}
.jumbotron-gif{
  display: none;
}


@media (max-width: 1199px) {
  .jumbotron{
    padding-top: 236px;
    padding-bottom: 165px;
  }
  .jumbotron-txt h1{
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 52px;
  }
  .jumbotron-txt h2{
    width: 16px;
    height: 16px;
  }
}

/*********
*************** 招聘 start ****************
*************/
.recruit {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 37px 0 75/2px;
  font-size: 12px;
  color: #3f3f3f;
  line-height: 20px;
}
.recruit-title-bg {
  width: 100%;
  height: 134/1.5px;
  margin: 0 auto;
  display: block;
  background-image: url('../img/recruit_title.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.recruit-title {
  text-align: center;
  padding: 4px 0 40px;
}
.recruit ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.recruit ul > li {
  border-bottom: 0.1px #3f3f3f solid;
  padding: 20px 0;
  position: relative;
}
.recruit ul > li:first-child {
  border-top: 1px #3f3f3f solid;
}
.recruit-type {
  font-size: 15px;
  font-weight: bold;
  position: relative;
}
.recruit-type:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ea094b;
  position: absolute;
  right: -15px; 
  bottom: 2px;
}
.recruit-arrow {
  width: 36px;
  height: 18px;
  background-image: url('../img/recruit_arrow.png');
  background-size: contain;
  position: absolute;
  top: 30px;
  right: 10px;
}
.recruit-content {
  padding-top: 18px; 
}

/*********
*************** 招聘 end ***************
*************/

@media (max-width: 991px) {

  .navbar {
    height: 64px;
    .navbar-collapse ul {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

  .navbar-brand {
    padding: 4px 15px;
    height: 60px;
  }

  .navbar-brand img {
    height: 52px;
  }

  .jumbotron{
    padding-top: 176px;
    padding-bottom: 80px;
  }

  .jumbotron-txt h1{
    font-size: 34px;
    line-height: 50px;
  }
  .jumbotron-txt h2{
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 767px) {
  .navbar {
    height: 54px;
    .navbar-collapse ul {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  .navbar-brand {
    padding: 7px 15px;
    height: 54px;
  }

  .navbar-brand img {
    height: 40px;
  }
  .jumbotron{
    padding-top: 160px;
    padding-bottom: 55px;
  }
  .jumbotron-txt h1{
    font-size: 28px;
    line-height:40px;
  }
  .jumbotron-txt h2{
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 640px) {
  .jumbotron {
    display: none;
  }
  .jumbotron-gif{
    display: block;
    margin-top: 54px;
    padding-top: 480px;
    padding-bottom: 480px;
    width: 100%;
    background-size: cover;
    background: url(../img/jumbotron_gif.gif) no-repeat center;
  }
  .recruit-arrow {
    width: 18px;
    height: 36px;
    top: 20px;
    background-image: url('../img/recruit_arrow_left.png');
  }
}
