/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.text-center {
  text-align: center;
}
.center {
  margin: 0 auto;
}
html,
body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #fff;
}
*:not(img):not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
}
ul,
li {
  list-style-type: none;
}
/*********
*************** 顶部导航 start ***************
*************/
.navbar {
  height: 82px;
  margin-bottom: 0;
  border-bottom: solid 1px #ededed;
  box-sizing: border-box;
  background-color: #fff;
}
.navbar .container {
  padding-left: 14px;
}
.navbar .navbar-collapse {
  float: right;
}
.navbar .navbar-collapse ul {
  margin-top: 11px;
  margin-bottom: 11px;
}
.navbar .navbar-toggle {
  border-color: transparent !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
  background-color: transparent !important;
}
.navbar-nav li > a {
  font-size: 16px;
  outline: none;
  text-decoration: none;
  padding: 20px 17px;
}
.navbar-nav li > a:hover:before {
  background-color: transparent;
  outline: none;
  text-decoration: none;
}
.navbar-nav li > a:hover:after,
.navbar-nav li > a:focus:after,
.navbar-nav li > a:active:after {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  margin: 0 auto;
  margin-top: 6px;
  background-color: #ea094b !important;
  outline: none;
  text-decoration: none;
}
.navbar-nav li :hover,
.navbar-nav li :focus,
.navbar-nav li :active {
  color: #ea094b !important;
  background-color: transparent !important;
}
.navbar-brand {
  height: 82px;
  padding: 11px 15px;
}
.navbar-brand img {
  height: 60px;
}
.navbar-brand img {
  height: 60px;
}
/*********
*************** 顶部导航 end ***************
*************/
/*********
*************** 顶部 大屏幕banner start ***************
*************/
.jumbotron {
  position: relative;
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: red;
  margin: 0;
  padding-top: 309px;
  padding-bottom: 190px;
}
.jumbotron .container {
  min-height: 190px;
}
.jumbotron-txt h1 {
  margin-bottom: 30px;
  border: 0;
  color: white;
  font-size: 48px;
  font-family: "Microsoft YaHei";
  line-height: 70px;
}
.jumbotron-txt h2 {
  width: 20px;
  height: 20px;
  background-color: #ea094b;
}
.jumbotron-gif {
  display: none;
}
/*********
*************** 顶部 大屏幕banner end ***************
*************/
/*********
***************  作品 start ***************
*************/
#works {
  /*padding: 130px 0;*/
  background: #fff;
  position: relative;
  z-index: 1;
}
#works .work-title-container {
  min-height: 80px;
  padding-top: 4.1%;
  padding-bottom: 3.1%;
  text-align: center;
  color: #3f3f3f;
  font-family: "Microsoft YaHei";
}
#works .work-title-container h1 {
  font-size: 36px;
}
#works .work-title-container span {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ea094b;
  top: 50px;
  margin-left: 13px;
}
#works .work-title-container h2 {
  font-size: 24px;
}
#works .work-container {
  margin: 0;
  width: 100%;
}
.work-con:hover .work-overlay {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.work-con {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  overflow: hidden;
}
.work-wrapper {
  overflow: hidden;
  width: 100%;
}
.work-con img {
  position: relative;
  width: 100%;
  display: block;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.work-con:hover img {
  cursor: pointer;
  -webkit-transform: scale(scale(1.5));
  -moz-transform: scale(scale(1.5));
  -ms-transform: scale(scale(1.5));
  -o-transform: scale(scale(1.5));
  transform: scale(scale(1.5));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.work-overlay {
  background: rgba(234, 9, 75, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}
.work-overlay a {
  text-decoration: none;
}
.work-overlay h1 {
  position: absolute;
  width: 100%;
  font-size: 28px;
  font-family: "Microsoft YaHei";
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 25%;
}
.overlay-text {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #fff;
  height: 12%;
  width: 37.9%;
  margin: 0 auto;
  margin-top: 37.9%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.overlay-text:hover {
  background: #fff;
  color: #ea094b;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*********
***************  作品 end ***************
*************/
/*********
*************** 招聘 start ****************
*************/
.recruit {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 37px 0 37.5px;
  font-size: 12px;
  color: #3f3f3f;
  line-height: 20px;
}
.recruit-title-bg {
  width: 100%;
  height: 89.33333333px;
  margin: 0 auto;
  display: block;
  background-image: url('../img/recruit_title.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 24px;
  text-align: center;
  line-height: 80px;
}
.recruit-title-bg > span {
  position: relative;
}
.recruit-title-bg > span:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ea094b;
  position: absolute;
  right: -20px;
  bottom: 3px;
}
.recruit-title-bg > span:after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: #ea094b;
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);
}
.recruit-title {
  text-align: center;
  padding: 0 0 40px;
}
.recruit-title-s {
  display: none;
}
.recruit ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.recruit ul > li {
  border-bottom: 0.1px #3f3f3f solid;
  padding: 20px 0;
  position: relative;
  list-style-type: none;
}
.recruit ul > li:first-child {
  border-top: 1px #3f3f3f solid;
}
.recruit-type {
  font-size: 15px;
  font-weight: bold;
  position: relative;
}
.recruit-type:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ea094b;
  position: absolute;
  right: -15px;
  bottom: 2px;
}
.recruit-arrow {
  width: 36px;
  height: 18px;
  background-image: url('../img/recruit_arrow.png');
  background-size: contain;
  position: absolute;
  top: 30px;
  right: 10px;
}
.recruit-content > div {
  padding-top: 18px;
}
.recruit-content > ol {
  padding-left: 13px;
}
.recruit-content > ol > li {
  list-style-type: decimal;
}
.footer {
  /*width: 100%;
  height: 520px;*/
  background-size: cover;
  background-image: url('../img/footer_bg.jpg');
  padding: 40px 0;
  color: #fff;
}
.footer-title {
  font-size: 24px;
  text-align: center;
}
.footer-pflm {
  background-image: url('../img/footer_pflm_gray.jpg');
}
/*********
*************** 招聘 end ***************
*************/
/*********
*************** 媒体查询 start ***************
*************/
@media (max-width: 1199px) {
  .jumbotron {
    padding-top: 236px;
    padding-bottom: 165px;
  }
  .jumbotron-txt h1 {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 52px;
  }
  .jumbotron-txt h2 {
    width: 16px;
    height: 16px;
  }
  .work-overlay h1 {
    font-size: 24px;
  }
  .overlay-text {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .navbar {
    height: 64px;
  }
  .navbar .navbar-collapse ul {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .navbar-brand {
    padding: 4px 15px;
    height: 60px;
  }
  .navbar-brand img {
    height: 52px;
  }
  .jumbotron {
    padding-top: 176px;
    padding-bottom: 80px;
  }
  .jumbotron-txt h1 {
    font-size: 34px;
    line-height: 50px;
  }
  .jumbotron-txt h2 {
    width: 16px;
    height: 16px;
  }
  .work-overlay h1 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .navbar {
    height: 54px;
  }
  .navbar .navbar-collapse ul {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .navbar-brand {
    padding: 7px 15px;
    height: 54px;
  }
  .navbar-brand img {
    height: 40px;
  }
  .jumbotron {
    padding-top: 160px;
    padding-bottom: 55px;
  }
  .jumbotron-txt h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .jumbotron-txt h2 {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 640px) {
  .jumbotron {
    display: none;
  }
  .jumbotron-gif {
    display: block;
    margin-top: 54px;
  }
  .jumbotron-gif .container {
    padding: 0;
  }
  .jumbotron-gif .gif-img {
    width: 100%;
    padding-top: 42%;
    padding-bottom: 42%;
    background-image: url(../img/jumbotron_gif.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .recruit-arrow {
    width: 18px;
    height: 36px;
    top: 20px;
    background-image: url('../img/recruit_arrow_left.png');
  }
  .recruit-title-bg {
    width: 100%;
    height: 150px;
    background-image: url('../img/recruit_title_s1.png');
    background-color: #000;
    background-position: -27px center;
    background-size: contain;
    color: #fff;
    font-size: 24px;
    line-height: 150px;
    position: relative;
  }
  .recruit-title-bg:before {
    content: "";
    display: block;
    width: 3px;
    height: 30px;
    background-color: #ea094b;
    position: absolute;
    top: 135px;
    /*transform: translateY(50%);*/
    left: 35px;
  }
  .recruit-title-bg > span {
    position: relative;
  }
  .recruit-title-bg > span:after {
    display: none;
  }
  .recruit-title {
    display: none;
  }
  .recruit-title-s {
    display: block;
    padding: 42px 20px 20px;
    line-height: 25px;
  }
  .work-overlay h1 {
    font-size: 18px;
    margin-top: 27%;
  }
}
/*********
*************** 媒体查询 end ***************
*************/
