@import "preboot.less";

html, body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #fff;
}

*:not(img):not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
}

ul, li {
  list-style-type: none;
}

a, a:hover, a:link, a:active, a:visited {
  text-decoration: none !important;
  outline: none !important;
}

/*********
*************** 顶部导航 start ***************
*************/
.navbar {
  height: 82px;
  margin-bottom: 0;
  border-bottom: solid 1px #ededed;
  box-sizing: border-box;
  background-color: #fff;
  .container {
    padding-left: 14px;

  }
  .navbar-collapse {
    float: right;
  }

  .navbar-collapse ul {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .navbar-toggle {
    border-color: transparent !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar-toggle:focus, .navbar-toggle:hover {
    background-color: transparent !important;
  }

}

.navbar-nav li > a {
  font-size: 16px;
  outline: none;
  //text-decoration: none;
  padding: 20px 17px;
}

.navbar-nav li > a:hover:before {
  background-color: transparent;
  outline: none;
  //text-decoration: none;
}

.navbar-nav li > a:hover:after, .navbar-nav li > a:focus:after, .navbar-nav li > a:active:after {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  margin: 0 auto;
  margin-top: 6px;
  background-color: #ea094b !important;
  outline: none;
  //text-decoration: none;
}

.navbar-nav li :hover, .navbar-nav li :focus, .navbar-nav li :active {
  color: #ea094b !important;
  background-color: transparent !important;
}

.navbar-brand {
  height: 82px;
  padding: 11px 15px;
  img {
    height: 60px;
  }
}

.navbar-brand img {
  height: 60px;
}

/*********
*************** 顶部导航 end ***************
*************/

/*********
*************** 顶部 大屏幕banner start ***************
*************/
.jumbotron {
  position: relative;
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: red;
  margin: 0;
  padding-top: 309px;
  padding-bottom: 190px;
  .container {
    min-height: 190px;
  }
}

.jumbotron-txt h1 {
  margin-bottom: 30px;
  border: 0;
  color: white;
  font-size: 48px;
  font-family: "Microsoft YaHei";
  line-height: 70px;
}

.jumbotron-txt h2 {
  width: 20px;
  height: 20px;
  background-color: #ea094b;
}

.jumbotron-gif {
  display: none;
}

/*********
*************** 顶部 大屏幕banner end ***************
*************/

/*********
***************  作品 start ***************
*************/
#projects {
  background: #fff;
  position: relative;
  z-index: 1;
  .project-container {
    //padding: 0;
    margin: 0;
    width: 100%;
  }
}

.module-container {
  padding-top: 82px;
}

.module-content {
  font-size: 18px;
  line-height: 28px
}

.module-content .module-content-title {
  font-size: 22px;
  line-height: 36px;
}

.module-title-container {
  min-height: 80px;
  padding-bottom: 50px;
  text-align: center;
  color: #3f3f3f;
  font-family: "Microsoft YaHei";
}

.module-title-container h1 {
  font-size: 36px;
  margin-top: 10px;
  line-height: 1;
}

.module-title-container span {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ea094b;
  top: 38px;
  margin-left: 13px;
}

.module-title-container h2 {
  font-size: 24px;
}

.project-con:hover .project-overlay {
  opacity: 1;
  .transition(all 0.3s ease-in-out);
}

.project-con {
  position: relative;
  margin: 0;
  padding: 0;
  .box-sizing(border-box);
  //width: 25%;
  display: inline-block;
  float: left;
  overflow: hidden;
}

.project-wrapper {
  overflow: hidden;
  width: 100%
}

.project-con img {
  width: 100%;
  display: block;
  height: auto;
  .transition(all 0.3s ease-in-out);
}

.project-con:hover img {
  .transition(all 0.3s ease-in-out);
  .transform(scale(1.1));
}

.project-overlay {
  background: rgba(234, 9, 75, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  .transition(all 0.3s ease-in-out);
  box-sizing: border-box;
  //cursor: pointaer;
}

.project-overlay h1 {
  position: absolute;
  width: 100%;
  font-size: 24px;
  font-family: "Microsoft YaHei";
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 23%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overlay-text {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #fff;
  //height: 12%;
  //width: 37.9%;
  height: 44px;
  width: 180px;
  margin: 0 auto;
  margin-top: 35.9%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
}

.overlay-text:hover {
  background: #fff;
  color: rgba(234, 9, 75, 1);
  .transition(all 0.3s ease-in-out);
}

.more-project-container {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 28px;
  background-color: #ea094b;
  .more-project-txt {
    color: white;
    font-size: 20px;
    line-height: 1;
    height: 44px;
    margin: 0;
    //display: -webkit-box;
    //-webkit-box-align: center;
    //-webkit-box-pack: center;
    text-align: center;
    padding: 11.5px 0;
  }
}

.more-project-btn {
  //width: 100%;
  //margin: 0 auto;
  padding: 0 0;
}

.more-btn-overlay {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #fff;
  //height: 12%;
  //width: 37.9%;
  height: 44px;
  width: 180px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  //display: table-cell;
  //vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
}

.more-btn-overlay:hover {
  background: #fff;
  color: rgba(234, 9, 75, 1);
  .transition(all 0.3s ease-in-out);
}

/*********
***************  作品 end ***************
*************/

/*********
***************  作品详情页 start ***************
*************/
.project-popup {
  border: 0 none;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999 !important;
  background-color: rgba(0, 0, 0, 0.8);
  .container {

  }
}

.popup-inner-wrap {
  padding: 0;
  //padding-top: 100px;
  padding-top: 5.2%;
}

.popup-wrap {
  margin-bottom: 80px;
  box-sizing: border-box;
  width: 100%;
  //height: 100px;
  position: relative;
  text-align: center;
  display: inline-block;
  background-color: #fff;

}

//右侧 固定区域
.project-slidebar {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  width: 23%;
  height: 100%;
  z-index: 2;
  //background-color: rgba(0,0,0,0.3);
}

//左侧 滚动区域
.project-detail {
  box-sizing: border-box;
  //margin-right: 320px;
  margin-right: 23%;
  max-width: 77%;
  word-wrap: break-word;
  z-index: 1;
  border-right: solid 1px #e8e8e8;
}

.project-module {
  padding-bottom: 8%;
}

.project-module img {
  width: auto;
  height: auto;
  display: inline-block;
  max-width: 100%;
}

.project-block {
  word-wrap: break-word;
  border-bottom: 1px solid #e8e8e8;
  clear: left;
  float: left;
  line-height: normal;
  padding: 20px;
  position: relative;
  width: 100%;
  z-index: 3;
  text-align: left;
  .txt {
    text-align: justify;
    font-weight: normal !important;
  }
}

.project-block h5 {
  font-size: 16px;
}

.project-block h4 {
  font-weight: bold;
}

.project-block span {
  color: #ea094b;
}

.project-block-no-border {
  border-bottom: none !important;
}

.project-logo {
  width: 128px;
  height: 70px;
}

/*********
***************  作品详情页 end ***************
*************/

/*********
*************** 招聘 start ****************
*************/
.recruit {
  font-size: 12px;
  color: #3f3f3f;
  line-height: 20px;
}

.recruit-title-bg {
  padding: 10px;
  width: 100%;
  height: 134/1.5px;
  margin: 0 auto;
  display: block;
  background-image: url('../img/recruit_title.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 24px;
  text-align: center;
  line-height: 80px;
}

.recruit-title-bg > span {
  position: relative;
}

.recruit-title-bg h1:after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: #ea094b;
  position: absolute;
  left: 50%;
  bottom: -10px;
  .transform(translateX(-50%))
}

.recruit-title {
  text-align: center;
  padding: 0 0 40px;
}

.recruit-title-s {
  display: none;
}

.recruit ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.recruit ul > li {
  border-bottom: 0.1px #3f3f3f solid;
  padding: 20px 0;
  position: relative;
  list-style-type: none;
}

.recruit ul > li:first-child {
  border-top: 1px #3f3f3f solid;
}

.recruit-type {
  /*font-size: 15px;*/
  font-weight: bold;
  position: relative;
}

.recruit-type:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ea094b;
  position: absolute;
  right: -15px;
  bottom: 2px;
}

.recruit-arrow {
  width: 36px;
  height: 18px;
  background-image: url('../img/recruit_arrow.png');
  background-size: contain;
  position: absolute;
  top: 30px;
  right: 10px;
}

.recruit-content > div {
  padding-top: 18px;
}

.recruit-content > ol {
  padding-left: 20px;
}

.recruit-content > ol > li {
  list-style-type: decimal;
}

.footer {
  background-size: cover;
  background-image: url('../img/footer_bg.jpg');
  background-position: center;
  padding-bottom: 40px;
  color: #c1c1c1;
  font-size: 10px;
}

.ft-red {
  font-weight: bold;
  color: #ea094b;
}

.ft-white {
  font-weight: bold;
  font-size: 16px;
}

.footer-content {
  padding: 0 20px;
}

.footer-content a, .footer-content a:hover, .footer-content a:link, .footer-content a:active, .footer-content a:visited {
  color: #c1c1c1;
  cursor: pointer;
}

.footer-pflm:hover, .footer-pflm:link, .footer-pflm:active, .footer-pflm:visited {
  background-image: url('../img/footer_pflm_orange.png');
}

.footer-title {
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 40px 0;
}

.footer-title-s {
  display: none;
  font-size: 24px;
  text-align: left;
  color: #fff;
  padding: 25px 0;
}

.footer-icon {
  padding-left: 0 !important;
  /*padding-right: 0!important; */
}

.footer-pflm {
  background-image: url('../img/footer_pflm_gray.png');
  background-repeat: no-repeat;
  background-size: 100px;
  display: block;
  padding: 45px 0 30px;
  color: #c1c1c1;
  line-height: 20px;
  border-bottom: 1px #c1c1c1 solid;
}

.footer-logo {
  background-image: url('../img/footer_logo.png');
  background-repeat: no-repeat;
  background-size: 100px;
  display: block;
  height: 125px;
  margin-top: 30px;
  padding-top: 70px;
  color: #c1c1c1;
  line-height: 20px;
}

.footer-contact {
  float: left;
}

.footer-contact-title {
  font-size: 14px;
  border-bottom: 1px #c1c1c1 solid;
  padding-bottom: 10px;
  position: relative;
}

.footer-contact-title:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ea094b;
  display: block;
  position: absolute;
  bottom: 14px;
  left: 164px;
}

.footer-contact-content {
  padding-top: 25px;
  line-height: 20px;
}

.footer-contact-name {
  font-size: 14px;
}

.footer-contact-phome {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  position: relative;
  padding-left: 25px;
}

.footer-contact-phome:before {
  content: "";
  display: block;
  background-image: url('../img/icon_phone.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 5px;
}

.footer-contact-address {
  color: #fff;
  position: relative;
  padding-left: 25px;
}

.footer-contact-address:before {
  content: "";
  display: block;
  background-image: url('../img/icon_location.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 3px;
}

.footer-join {
  padding-right: 0 !important;
}

.footer-join-title {
  font-size: 14px;
  border-bottom: 1px #c1c1c1 solid;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 25px;
}

.footer-join-title:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ea094b;
  display: block;
  position: absolute;
  bottom: 14px;
  left: 130px;
}

.footer-join-mail {
  color: #fff;
  padding-left: 25px;
  position: relative;
  line-height: 28px;
}

.footer-join-mail:before {
  content: "";
  display: block;
  background-image: url('../img/icon_msg.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 8px;
}

.footer-code {
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
}

.end-content {
  background-color: #ea094b;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
}

.end-content-s {
  display: none;
  text-align: center;
  color: #474748;
  font-size: 12px;
}

.end-icp {
  position: relative;
  margin-left: 25px;
}

.end-icp:before {
  position: absolute;
  content: "";
  display: block;
  background-image: url('../img/badge.png');
  width: 15.3px;
  height: 17.1px;
  background-size: cover;
  top: 0;
  left: -20px;
}

.end-pflm img {
  float: left;
  height: 35px;
}

.end-pflm {
  padding: 30px 20px;
}

.end-pflm div {
  padding-left: 120px;
  line-height: 20px;
  text-align: left;
  height: 30px;
}

.end-copyright {
  border-top: 1px #b3b3b3 solid;
  padding: 20px 0;
  line-height: 20px;
}

.who-bg {
  background-image: url('../img/who_bg.png');
  padding: 30px 0;
  background-size: cover;
}

.who-bg-s {
  display: none;
  background-image: url('../img/who_bg_s.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 20px 15px;
}

.who-bg-s img {
  height: 40px;
  margin: 20px 0 0 20px;
}

.who-bg-s .who-title {
  text-align: left;
}

.who-title {
  color: #fff;
}

.who-title h1:after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: #ea094b;
  position: absolute;
  left: 50%;
  bottom: -20px;
  .transform(translateX(-50%));
}

.who-bg-s .who-title h1:after {
  left: 20px;
  .transform(none);
  bottom: -14px;
}

.who-bg-s h2 {
  line-height: 20px;
}

.who-content {
  color: #fff;
  text-align: center;
}

.who-content-s {
  display: none;
  padding: 25px 35px 0;
}

.who-bg img {
  margin: 0 auto;
  display: block;
  height: 135px;
  padding: 30px 0 0;
}

.partnet-logo {
  height: 80px;
  position: relative;
  /*background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 15px;
  padding-left: 0px;
  padding-right: 0px;  */
}

.partnet-logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  .transform(translate(-50%, -50%));
}

/*********
*************** 招聘 end ***************
*************/

/*********
*************** 媒体查询 start ***************
*************/
@media (max-width: 1199px) {
  .jumbotron {
    padding-top: 236px;
    padding-bottom: 165px;
  }

  .jumbotron-txt h1 {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 52px;
  }

  .jumbotron-txt h2 {
    width: 16px;
    height: 16px;
  }

  .project-overlay h1 {
    font-size: 24px;
  }

  .overlay-text {
    font-size: 12px;
  }

  .module-title-container {
    padding-bottom: 50px;
  }
}

@media (max-width: 991px) {

  .navbar {
    height: 64px;
  }

  .navbar-collapse ul {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .navbar-brand {
    padding: 4px 15px;
    height: 60px;
  }

  .navbar-brand img {
    height: 52px;
  }

  .jumbotron {
    padding-top: 176px;
    padding-bottom: 80px;
  }

  .jumbotron-txt h1 {
    font-size: 34px;
    line-height: 50px;
  }

  .jumbotron-txt h2 {
    width: 16px;
    height: 16px;
  }

  .project-overlay h1 {
    font-size: 22px;
  }

  .module-container {
    padding-top: 64px;
  }

  .module-title-container {
    padding-bottom: 35px;
  }

  .module-title-container h1 {
    font-size: 32px;
  }

  .module-title-container span {
    top: 37px;
    margin-left: 6px;
    width: 6px;
    height: 6px;
  }

  .module-title-container h2 {
    font-size: 18px;
  }

  .module-content {
    font-size: 16px;
    line-height: 28px
  }

  .module-content .module-content-title {
    font-size: 20px;
    line-height: 36px;
  }

}

@media (max-width: 767px) {
  .navbar {
    height: 54px;
    .navbar-collapse ul {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  .navbar-brand {
    padding: 7px 15px;
    height: 54px;
  }

  .navbar-brand img {
    height: 40px;
  }

  .jumbotron {
    padding-top: 160px;
    padding-bottom: 55px;
  }

  .jumbotron-txt h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .jumbotron-txt h2 {
    width: 16px;
    height: 16px;
  }

  .project-overlay {
    display: none;
  }

  .project-con:hover img {
    .transition(none);
    .transform(none);
  }

  .module-container {
    padding-top: 54px;
  }

  .module-title-container {
    padding-bottom: 30px;
  }

  .footer-icon {
    display: none
  }
}

@media (max-width: 640px) {
  .jumbotron {
    display: none;
  }

  .jumbotron-gif {
    display: block;
    margin-top: 54px;
    .container {
      padding: 0;
    }
    .gif-img {
      width: 100%;
      padding-top: 78.1%;
      background-image: url(../img/jumbotron_gif_1.gif);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
    }
  }

  .recruit-arrow {
    top: 20px;
  }

  .recruit-title-bg {
    padding: 50px 0;
    width: 100%;
    height: 150px;
    background-image: url('../img/recruit_title_s1.png');
    background-color: #000;
    background-position: -27px center;
    background-size: contain;
    color: #fff;
    font-size: 24px;
    line-height: 150px;
    position: relative;
  }

  .recruit-title-bg:before {
    content: "";
    display: block;
    width: 3px;
    height: 30px;
    background-color: #ea094b;
    position: absolute;
    top: 135px;
    left: 35px;
  }

  .recruit-title-bg > span {
    position: relative;
  }

  .recruit-title-bg h1:after {
    display: none;
  }

  .recruit-title {
    display: none;
  }

  .recruit-title-s {
    display: block;
    padding: 42px 20px 20px;
    line-height: 25px;
  }

  .recruit-content > ol {
    padding-left: 16px;
  }

  .recruit ul > li {
    padding: 10px 0;
  }

  .project-overlay h1 {
    font-size: 18px;
    margin-top: 27%;
  }

  .module-title-container h1 {
    font-size: 24px;
  }

  .module-title-container span {
    top: 28px;
    margin-left: 5px;
    width: 6px;
    height: 6px;
  }

  .module-title-container {
    padding-bottom: 20px;
  }

  .module-title-container h2 {
    font-size: 14px;
    margin-top: 10px;
  }


.more-btn-overlay {
  width: 158px;
  height: 40px;
  padding: 8px 20px;
}

  .more-project-container {
    padding-top: 15px;
    padding-bottom: 15px;
    .more-project-txt {
      height: 40px;
      font-size: 16px;
    }
    .project-con:hover img {
      .transition(none);
      .transform(none);
    }

  }

  .module-content {
    font-size: 14px;
    line-height: 24px
  }
  .module-content .module-content-title {
    font-size: 18px;
    line-height: 32px;
  }
  .footer-contact {
    float: none;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .footer-join {
    padding-top: 30px;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .footer-code {
    display: none;
  }
  .footer-join-mail {
    float: left;
    margin-right: 20px;
  }
  .footer-title {
    display: none;
  }
  .footer-title-s {
    display: block;
  }
  .footer {
    background-image: url('../img/footer_bg-s.jpg');
  }
  .end-content {
    display: none
  }
  .end-content-s {
    display: block;
  }
  .who-bg {
    display: none
  }
  .who-bg-s {
    display: block;
  }
  .who-content {
    display: none;
  }
  .who-content-s {
    display: block;
  }
  .partnet-logo img {
    width: 80%;
  }
}

/*********
*************** 媒体查询 end ***************
*************/